*~
*.autosave
*.backup
*.bak
/Balluff.creator.user
build/
build*/
CMakeLists.txt.user
CMakeLists.txt.user*
.directory
doc/*.html
doc/*.pdf
install/
install*/
*.kate-swp
.kdev4
*.kdev4
*.orig
protocol/
*.pro.user
.*.swp
Testing/
.vscode/
*.deb
*.rpm
ubuntu-18.04/mosquitto_1.6.10-1_amd64.deb
